<div class="village">
  <h3>{{title}}</h3>
  <span class="line"> </span>
  <div class="activity_box">
    <div class="scrollbar" id="style-2">

      <div *ngFor="let hotel of hotels" class="activity-row">
        <div class="activity-desc">
          <h5>{{hotel.name}}</h5>
          <h4>{{hotel.address}}</h4>
          <p>{{hotel.description}}</p>
          <h6>{{hotel.phone}}</h6>
        </div>
        <div class="activity-img">
          <ul>

            <li *ngFor="let image of hotel.images">
              <img [src]="image" alt="" />
            </li>

          </ul>
        </div>
        <div class="clear"> </div>
      </div>

    </div>
  </div>
</div>
