
<h1>Hot Weather Widget</h1>

<div class="element">
    <div class="element-left">

      <!-- app app main photo component -->
      <app-main-photo></app-main-photo>

      <div class="element-left-bottom">
          
          <!-- app filter component -->
          <app-filter></app-filter>

          <!-- app card component -->
          <app-card></app-card>
          
      </div>

    </div>

    <div class="element-right">
      
      <!-- app card component -->
      <app-weather></app-weather>

      <!-- app social network widget component -->
      <app-social-network-widget></app-social-network-widget>

    </div>

    <div class="clear"></div>
</div>

<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
